/* line 1, ../scss/goodlinks.scss */
a {
  color: #0B8E45;
}

/* line 6, ../scss/goodlinks.scss */
#header + video, #header + img {
  top: 50%;
  left: 50%;
  min-width: 100%;
  width: auto;
  height: auto;
  max-width: 100%;
  z-index: -100;
  background-size: cover;
  transition: 1s opacity;
  opacity: 0.9;
}
/* line 20, ../scss/goodlinks.scss */
#header svg {
  transition: all 0.2s ease-in-out;
  width: 136px;
  height: auto;
  margin-left: 39px;
  margin-top: 35px;
}
/* line 27, ../scss/goodlinks.scss */
#header svg:hover {
  margin-left: 30px;
  margin-top: 30px;
  width: 155px;
}
/* line 33, ../scss/goodlinks.scss */
#header svg path, #header svg rect {
  fill: black;
}
/* line 38, ../scss/goodlinks.scss */
#header .we-are-hiring {
  padding-top: 0;
  display: inline-block;
  position: absolute;
  top: 58px;
  left: 41px;
  border-bottom: none;
  color: black;
  font-size: 13px;
}
/* line 50, ../scss/goodlinks.scss */
#header .we-are-hiring:hover {
  color: white;
}
/* line 55, ../scss/goodlinks.scss */
#header #nav {
  font-size: 20px;
  right: 20px;
  top: 26px;
}
/* line 62, ../scss/goodlinks.scss */
#header #nav ul li a {
  color: black;
  font-size: inherit;
}
/* line 66, ../scss/goodlinks.scss */
#header #nav ul li a:hover {
  color: white;
  text-decoration: underline;
}

/* line 76, ../scss/goodlinks.scss */
#banner {
  position: absolute;
  top: 0;
  width: 100%;
  color: black;
}
/* line 82, ../scss/goodlinks.scss */
#banner h2 {
  background-color: rgba(255, 255, 255, 0.47);
  display: inline-block;
  padding: 0.5em;
  color: inherit;
}

@media screen and (min-width: 840px) {
  /* line 91, ../scss/goodlinks.scss */
  #banner {
    padding-top: 25em;
  }
}
/* line 96, ../scss/goodlinks.scss */
#cta {
  background: #1B6F0E;
  color: white;
  padding: 3.5em 1em 4em 1em;
  text-align: center;
}
/* line 102, ../scss/goodlinks.scss */
#cta input[type=submit] {
  color: #1B6F0E;
}
/* line 106, ../scss/goodlinks.scss */
#cta p {
  font-size: 1.5em;
  line-height: 1.5em;
  max-width: 24em;
  margin-left: auto;
  margin-right: auto;
}
/* line 114, ../scss/goodlinks.scss */
#cta p a {
  color: inherit;
}
/* line 119, ../scss/goodlinks.scss */
#cta .button {
  transition: all 0.1s ease-in-out;
  font-size: 1.5em;
  width: 270px;
  color: #1B6F0E !important;
}
/* line 123, ../scss/goodlinks.scss */
#cta .button:hover {
  width: 300px;
  opacity: 0.7;
}

/* line 132, ../scss/goodlinks.scss */
.icon.major {
  background-color: #0B8E45;
  color: #ffffff;
}

/* line 138, ../scss/goodlinks.scss */
section.lets-face-it p {
  text-align: left;
}

/* line 144, ../scss/goodlinks.scss */
section.box header.major {
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
}
/* line 150, ../scss/goodlinks.scss */
section.box h2 {
  border-bottom: solid 2px #e5e5e5;
  padding-bottom: 0.5em;
}
/* line 155, ../scss/goodlinks.scss */
section.box p {
  width: 100%;
  display: inline-block;
  color: #777;
  padding: 1em 0 0 0;
  font-style: normal;
  margin: 0;
  font-size: 1.5em;
  line-height: 1.5em;
}
/* line 167, ../scss/goodlinks.scss */
section.box ul {
  padding-left: 3em;
  text-align: left;
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 1.5em;
  line-height: 1.5em;
}
/* line 175, ../scss/goodlinks.scss */
section.box ul li {
  padding-left: 0.5em;
  margin-bottom: 1em;
}
/* line 178, ../scss/goodlinks.scss */
section.box ul li:nth-last-child(1) {
  margin-bottom: 0;
}

/* line 187, ../scss/goodlinks.scss */
section.box.pricing .major p {
  max-width: 23em;
}
