/* line 1, ../scss/goodlinks.scss */
p, ul {
  font-size: 1.3em;
  line-height: 1.4em;
}

/* line 6, ../scss/goodlinks.scss */
a {
  color: #0B8E45;
}

@media screen and (max-width: 840px) {
  /* line 11, ../scss/goodlinks.scss */
  p br {
    display: none;
  }
}
/* line 17, ../scss/goodlinks.scss */
#header + video, #header + img {
  top: 50%;
  left: 50%;
  min-width: 100%;
  width: auto;
  height: auto;
  max-width: 100%;
  z-index: -100;
  background-size: cover;
  transition: 1s opacity;
  opacity: 0.9;
}
/* line 31, ../scss/goodlinks.scss */
#header svg {
  transition: all 0.2s ease-in-out;
  width: 136px;
  height: auto;
  margin-left: 39px;
  margin-top: 35px;
}
/* line 38, ../scss/goodlinks.scss */
#header svg:hover {
  opacity: 0.5;
}
/* line 44, ../scss/goodlinks.scss */
#header svg path, #header svg rect {
  fill: white;
}
/* line 49, ../scss/goodlinks.scss */
#header .we-are-hiring {
  padding-top: 0;
  display: inline-block;
  position: absolute;
  top: 58px;
  left: 41px;
  border-bottom: none;
  color: white;
  font-size: 13px;
}
/* line 61, ../scss/goodlinks.scss */
#header .we-are-hiring:hover {
  text-decoration: underline;
}
/* line 66, ../scss/goodlinks.scss */
#header #nav {
  right: 20px;
  top: 26px;
}
/* line 72, ../scss/goodlinks.scss */
#header #nav ul li a {
  color: white;
  font-size: 20px;
}
/* line 76, ../scss/goodlinks.scss */
#header #nav ul li a:hover {
  color: white;
  text-decoration: underline;
}
/* line 83, ../scss/goodlinks.scss */
#header #nav ul li:nth-last-child(1) a {
  font-weight: bold;
}

/* line 91, ../scss/goodlinks.scss */
.video-overlay {
  background-color: #000000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 99, ../scss/goodlinks.scss */
#banner {
  position: absolute;
  top: 0;
  width: 100%;
  color: white;
  padding: 0;
}
/* line 106, ../scss/goodlinks.scss */
#banner .svg-wrapper {
  position: relative;
}
/* line 108, ../scss/goodlinks.scss */
#banner .svg-wrapper svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 116, ../scss/goodlinks.scss */
#banner h1 {
  display: inline-block;
  padding: 0.5em;
  font-size: 45px;
  line-height: 53px;
  color: white;
  max-width: 19em;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 841px) {
  /* line 129, ../scss/goodlinks.scss */
  #banner {
    padding-top: 16em;
  }
  /* line 132, ../scss/goodlinks.scss */
  #banner .mobile-logo {
    display: none;
  }
}
@media screen and (max-width: 840px) {
  /* line 140, ../scss/goodlinks.scss */
  #banner .headline {
    display: none;
  }
  /* line 144, ../scss/goodlinks.scss */
  #banner .mobile-logo {
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 736px) {
  /* line 156, ../scss/goodlinks.scss */
  .hero-video {
    display: none;
  }

  /* line 159, ../scss/goodlinks.scss */
  .hero-image-for-mobile {
    width: 100%;
    display: inline !important;
  }

  /* line 163, ../scss/goodlinks.scss */
  .box.lets-face-it {
    padding-top: 1em !important;
  }
}
/* line 168, ../scss/goodlinks.scss */
#cta {
  background: #2ECC71;
  color: white;
  padding: 3.5em 1em 4em 1em;
  text-align: center;
}
/* line 174, ../scss/goodlinks.scss */
#cta input[type=submit] {
  color: #2ECC71;
}
/* line 178, ../scss/goodlinks.scss */
#cta p {
  max-width: 24em;
  margin-left: auto;
  margin-right: auto;
}
/* line 183, ../scss/goodlinks.scss */
#cta p a {
  color: inherit;
}
/* line 189, ../scss/goodlinks.scss */
#cta form .input-wrapper {
  margin: 1em;
}
/* line 192, ../scss/goodlinks.scss */
#cta form .button-wrapper {
  margin-top: 3em;
}

/* line 198, ../scss/goodlinks.scss */
.button, .button.special {
  transition: all 0.2s ease-in-out;
  font-size: 1.5em;
  color: #2ECC71 !important;
}
/* line 202, ../scss/goodlinks.scss */
.button:hover, .button.special:hover {
  font-weight: bold;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

/* line 210, ../scss/goodlinks.scss */
.icon.major {
  background-color: #2ECC71;
  color: #ffffff;
}

/* line 216, ../scss/goodlinks.scss */
section.lets-face-it .wistia_responsive_padding {
  margin-top: 2em;
}
/* line 219, ../scss/goodlinks.scss */
section.lets-face-it p {
  text-align: left;
}

/* line 225, ../scss/goodlinks.scss */
section.box header.major {
  max-width: 49em;
  margin-left: auto;
  margin-right: auto;
}
/* line 231, ../scss/goodlinks.scss */
section.box h2 {
  border-bottom: solid 2px #e5e5e5;
  padding-bottom: 0.5em;
}
/* line 236, ../scss/goodlinks.scss */
section.box p {
  width: 100%;
  display: inline-block;
  color: #777;
  padding: 1em 0 0 0;
  font-style: normal;
  margin: 0;
}
/* line 245, ../scss/goodlinks.scss */
section.box p strong {
  text-decoration: underline;
}
/* line 250, ../scss/goodlinks.scss */
section.box ul {
  padding-left: 3em;
  text-align: left;
  margin-top: 1em;
  margin-bottom: 0;
}
/* line 256, ../scss/goodlinks.scss */
section.box ul li {
  padding-left: 0.5em;
  margin-bottom: 1em;
}
/* line 259, ../scss/goodlinks.scss */
section.box ul li:nth-last-child(1) {
  margin-bottom: 0;
}
/* line 264, ../scss/goodlinks.scss */
section.box ul strong {
  text-decoration: underline;
}

/* line 272, ../scss/goodlinks.scss */
section.box.pricing .major p {
  max-width: 23em;
}

/* line 279, ../scss/goodlinks.scss */
section.box.pricing-faqs .box-inner {
  overflow: hidden;
}
/* line 283, ../scss/goodlinks.scss */
section.box.pricing-faqs ul {
  font-size: 1em;
  /* Otherwise the p, ul 1.3em will get double added */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* line 291, ../scss/goodlinks.scss */
section.box.pricing-faqs ul li p.question {
  font-weight: bold;
}

@media screen and (min-width: 940px) {
  /* line 301, ../scss/goodlinks.scss */
  section.box.pricing-faqs ul li {
    padding: 1em;
    width: 50%;
    float: left;
  }
}
/* line 312, ../scss/goodlinks.scss */
section.box.the-team .box-inner {
  margin-top: 2em;
  overflow: hidden;
}
/* line 317, ../scss/goodlinks.scss */
section.box.the-team ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 322, ../scss/goodlinks.scss */
section.box.the-team ul li {
  width: 100%;
  max-width: none;
  float: left;
  line-height: 20px;
}
/* line 327, ../scss/goodlinks.scss */
section.box.the-team ul li img {
  width: 130px;
  display: inline;
  float: left;
  margin-right: 1em;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
/* line 338, ../scss/goodlinks.scss */
section.box.the-team ul li p {
  margin: 0;
  display: inline;
  font-size: inherit;
  font-size: 18px;
}
/* line 343, ../scss/goodlinks.scss */
section.box.the-team ul li p a .fa {
  color: #D0D0D0;
}
/* line 347, ../scss/goodlinks.scss */
section.box.the-team ul li p a {
  border-bottom: none;
}

@media screen and (min-width: 940px) {
  /* line 358, ../scss/goodlinks.scss */
  section.box.the-team .box-inner {
    text-align: center;
  }
  /* line 362, ../scss/goodlinks.scss */
  section.box.the-team ul {
    display: inline-block;
  }
  /* line 365, ../scss/goodlinks.scss */
  section.box.the-team ul li {
    text-align: center;
    width: 33%;
  }
  /* line 369, ../scss/goodlinks.scss */
  section.box.the-team ul li img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }
}
@media screen and (min-width: 940px) {
  /* line 384, ../scss/goodlinks.scss */
  section.box.the-team.advisors ul li {
    width: 25%;
    line-height: 20px;
  }
  /* line 387, ../scss/goodlinks.scss */
  section.box.the-team.advisors ul li p {
    font-size: 18px;
  }
}
/* line 395, ../scss/goodlinks.scss */
section.what-people-are-saying {
  overflow: hidden;
}
/* line 398, ../scss/goodlinks.scss */
section.what-people-are-saying .tweet {
  max-width: 10em;
  max-width: 24em;
  float: left;
  margin: 1.5em;
}
/* line 405, ../scss/goodlinks.scss */
section.what-people-are-saying .testimonial {
  margin: 2em;
}
/* line 407, ../scss/goodlinks.scss */
section.what-people-are-saying .testimonial .testimonial-content {
  font-size: 25px;
  line-height: 33px;
}
/* line 410, ../scss/goodlinks.scss */
section.what-people-are-saying .testimonial .testimonial-content b {
  border-bottom: solid 3px #2ECC71;
}
/* line 414, ../scss/goodlinks.scss */
section.what-people-are-saying .testimonial .testimonial-name {
  margin-top: 1em;
  font-size: 22px;
}

/* line 423, ../scss/goodlinks.scss */
section.how-it-works .steps, section.social-proof .steps {
  margin-top: 2em;
}
/* line 426, ../scss/goodlinks.scss */
section.how-it-works .steps .step, section.social-proof .steps .step {
  overflow: hidden;
}
/* line 429, ../scss/goodlinks.scss */
section.how-it-works .steps .step .step-image, section.social-proof .steps .step .step-image {
  padding: 1em;
  float: left;
}
/* line 433, ../scss/goodlinks.scss */
section.how-it-works .steps .step .step-image img, section.social-proof .steps .step .step-image img {
  width: 100%;
}
/* line 438, ../scss/goodlinks.scss */
section.how-it-works .steps .step .step-description, section.social-proof .steps .step .step-description {
  padding: 1em;
  text-align: left;
  float: left;
}
/* line 443, ../scss/goodlinks.scss */
section.how-it-works .steps .step .step-description h3, section.social-proof .steps .step .step-description h3 {
  margin: 0;
}
/* line 447, ../scss/goodlinks.scss */
section.how-it-works .steps .step .step-description p, section.social-proof .steps .step .step-description p {
  padding: 0;
  font-size: 1.3em;
}
/* line 454, ../scss/goodlinks.scss */
section.how-it-works .steps hr, section.social-proof .steps hr {
  border-bottom: solid 2px #F9F9F9;
  margin: 2em 3em;
}

@media screen and (min-width: 640px) {
  /* line 463, ../scss/goodlinks.scss */
  .steps .step {
    position: relative;
  }
  /* line 465, ../scss/goodlinks.scss */
  .steps .step .step-image {
    width: 50%;
  }
  /* line 469, ../scss/goodlinks.scss */
  .steps .step .step-description {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
  }
}
@media screen and (min-width: 640px) {
  /* line 483, ../scss/goodlinks.scss */
  section.social-proof .steps .step {
    position: relative;
  }
  /* line 485, ../scss/goodlinks.scss */
  section.social-proof .steps .step .step-image {
    width: 30%;
    float: left;
  }
  /* line 490, ../scss/goodlinks.scss */
  section.social-proof .steps .step .step-description {
    width: 70%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30%;
  }
  /* line 500, ../scss/goodlinks.scss */
  section.social-proof .steps .step.right .step-image {
    float: right;
  }
  /* line 503, ../scss/goodlinks.scss */
  section.social-proof .steps .step.right .step-description {
    left: 0%;
  }
}
/* Pricing */
/* line 512, ../scss/goodlinks.scss */
.pricing-container {
  margin-top: 4.5em;
  margin-bottom: 1em;
  margin-left: -3em;
  margin-right: -3em;
  /* HTML5 display-role reset for older browsers */
}
/* line 530, ../scss/goodlinks.scss */
.pricing-container div, .pricing-container span, .pricing-container applet, .pricing-container object, .pricing-container iframe,
.pricing-container h1, .pricing-container h2, .pricing-container h3, .pricing-container h4, .pricing-container h5, .pricing-container h6, .pricing-container p, .pricing-container blockquote, .pricing-container pre,
.pricing-container a, .pricing-container abbr, .pricing-container acronym, .pricing-container address, .pricing-container big, .pricing-container cite, .pricing-container code,
.pricing-container del, .pricing-container dfn, .pricing-container em, .pricing-container img, .pricing-container ins, .pricing-container kbd, .pricing-container q, .pricing-container s, .pricing-container samp,
.pricing-container small, .pricing-container strike, .pricing-container strong, .pricing-container sub, .pricing-container sup, .pricing-container tt, .pricing-container var,
.pricing-container b, .pricing-container u, .pricing-container i, .pricing-container center,
.pricing-container dl, .pricing-container dt, .pricing-container dd, .pricing-container ol, .pricing-container ul, .pricing-container li,
.pricing-container fieldset, .pricing-container form, .pricing-container label, .pricing-container legend,
.pricing-container table, .pricing-container caption, .pricing-container tbody, .pricing-container tfoot, .pricing-container thead, .pricing-container tr, .pricing-container th, .pricing-container td,
.pricing-container article, .pricing-container aside, .pricing-container canvas, .pricing-container details, .pricing-container embed,
.pricing-container figure, .pricing-container figcaption, .pricing-container footer, .pricing-container header, .pricing-container hgroup,
.pricing-container menu, .pricing-container nav, .pricing-container output, .pricing-container ruby, .pricing-container section, .pricing-container summary,
.pricing-container time, .pricing-container mark, .pricing-container audio, .pricing-container video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* line 538, ../scss/goodlinks.scss */
.pricing-container article, .pricing-container aside, .pricing-container details, .pricing-container figcaption, .pricing-container figure,
.pricing-container footer, .pricing-container header, .pricing-container hgroup, .pricing-container menu, .pricing-container nav, .pricing-container section, .pricing-container main {
  display: block;
}
/* line 541, ../scss/goodlinks.scss */
.pricing-container ol, .pricing-container ul {
  list-style: none;
}
/* line 544, ../scss/goodlinks.scss */
.pricing-container blockquote, .pricing-container q {
  quotes: none;
}
/* line 548, ../scss/goodlinks.scss */
.pricing-container blockquote:before, .pricing-container blockquote:after,
.pricing-container q:before, .pricing-container q:after {
  content: '';
  content: none;
}
/* line 552, ../scss/goodlinks.scss */
.pricing-container table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 558, ../scss/goodlinks.scss */
.pricing-container *,
.pricing-container *::after,
.pricing-container *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 564, ../scss/goodlinks.scss */
.pricing-container html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 569, ../scss/goodlinks.scss */
.pricing-container a {
  text-decoration: none;
}
/* line 573, ../scss/goodlinks.scss */
.pricing-container .pricing-container {
  line-height: 1;
  width: 90%;
  max-width: 1170px;
  margin: 4em auto;
}
/* line 580, ../scss/goodlinks.scss */
.pricing-container .pricing-container {
  margin: 6em auto;
}
/* line 583, ../scss/goodlinks.scss */
.pricing-container .pricing-container.full-width {
  width: 100%;
  max-width: none;
}
/* line 588, ../scss/goodlinks.scss */
.pricing-container .pricing-list {
  margin: 2em 0 0;
}
/* line 592, ../scss/goodlinks.scss */
.pricing-container .pricing-list > li {
  position: relative;
  margin-bottom: 1em;
  padding-left: 5px;
  padding-right: 5px;
}
/* line 598, ../scss/goodlinks.scss */
.pricing-container .pricing-list > li.first {
  padding-left: 0;
}
/* line 601, ../scss/goodlinks.scss */
.pricing-container .pricing-list > li.last {
  padding-right: 0;
}
/* line 606, ../scss/goodlinks.scss */
.pricing-container .pricing-wrapper {
  position: relative;
}
/* line 610, ../scss/goodlinks.scss */
.pricing-container .touch .pricing-wrapper {
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  perspective: 2000px;
}
/* line 616, ../scss/goodlinks.scss */
.pricing-container .pricing-wrapper.is-switched .is-visible {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-animation: rotate 0.5s;
  -moz-animation: rotate 0.5s;
  animation: rotate 0.5s;
}
/* line 627, ../scss/goodlinks.scss */
.pricing-container .pricing-wrapper.is-switched .is-hidden {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-animation: rotate-inverse 0.5s;
  -moz-animation: rotate-inverse 0.5s;
  animation: rotate-inverse 0.5s;
  opacity: 0;
}
/* line 639, ../scss/goodlinks.scss */
.pricing-container .pricing-wrapper.is-switched .is-selected {
  opacity: 1;
}
/* line 643, ../scss/goodlinks.scss */
.pricing-container .pricing-wrapper.is-switched.reverse-animation .is-visible {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-animation: rotate-back 0.5s;
  -moz-animation: rotate-back 0.5s;
  animation: rotate-back 0.5s;
}
/* line 654, ../scss/goodlinks.scss */
.pricing-container .pricing-wrapper.is-switched.reverse-animation .is-hidden {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-animation: rotate-inverse-back 0.5s;
  -moz-animation: rotate-inverse-back 0.5s;
  animation: rotate-inverse-back 0.5s;
  opacity: 0;
}
/* line 666, ../scss/goodlinks.scss */
.pricing-container .pricing-wrapper.is-switched.reverse-animation .is-selected {
  opacity: 1;
}
/* line 670, ../scss/goodlinks.scss */
.pricing-container .pricing-wrapper > li {
  background-color: #ffffff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #e5e5e5;
}
/* line 679, ../scss/goodlinks.scss */
.pricing-container .pricing-wrapper > li::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  pointer-events: none;
  background: -webkit-linear-gradient(right, white, rgba(255, 255, 255, 0));
  background: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0));
}
/* line 691, ../scss/goodlinks.scss */
.pricing-container .pricing-wrapper > li.is-ended::after {
  display: none;
}
/* line 695, ../scss/goodlinks.scss */
.pricing-container .pricing-wrapper .is-visible {
  position: relative;
  z-index: 5;
}
/* line 700, ../scss/goodlinks.scss */
.pricing-container .pricing-wrapper .is-hidden {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* line 714, ../scss/goodlinks.scss */
.pricing-container .pricing-wrapper .is-selected {
  z-index: 3 !important;
}
/* line 718, ../scss/goodlinks.scss */
.pricing-container .no-js .pricing-wrapper .is-hidden {
  position: relative;
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
  margin-top: 1em;
}
/* line 728, ../scss/goodlinks.scss */
.pricing-container .pricing-header h2 {
  padding: 0.5em 0.9em 0.6em;
  margin-bottom: 30px;
  margin-top: 0px;
  text-align: center;
}
/* line 735, ../scss/goodlinks.scss */
.pricing-container .pricing-header {
  height: auto;
  padding: .9em 0 1.6em;
  pointer-events: auto;
  text-align: center;
  color: #173d50;
  background-color: transparent;
}
/* line 744, ../scss/goodlinks.scss */
.pricing-container .exclusive .pricing-header h2 {
  color: #0B8E45;
}
/* line 748, ../scss/goodlinks.scss */
.pricing-container .pricing-header h2 {
  font-size: 2.8rem;
  letter-spacing: 2px;
}
/* line 754, ../scss/goodlinks.scss */
.pricing-container .currency,
.pricing-container .value {
  font-size: 60px;
  font-weight: 300;
}
/* line 759, ../scss/goodlinks.scss */
.pricing-container .duration {
  font-weight: 700;
  font-size: 1.3rem;
  color: #8dc8e4;
  text-transform: uppercase;
}
/* line 766, ../scss/goodlinks.scss */
.pricing-container .duration::before {
  content: '/';
  margin-right: 2px;
}
/* line 772, ../scss/goodlinks.scss */
.pricing-container .currency,
.pricing-container .duration {
  color: #0B8E45;
}
/* line 776, ../scss/goodlinks.scss */
.pricing-container .currency {
  display: inline-block;
  vertical-align: top;
  font-size: 2rem;
  font-weight: 700;
}
/* line 783, ../scss/goodlinks.scss */
.pricing-container .duration {
  font-size: 1.4rem;
}
/* line 787, ../scss/goodlinks.scss */
.pricing-container .pricing-body {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
/* line 792, ../scss/goodlinks.scss */
.pricing-container .is-switched .pricing-body {
  overflow: hidden;
}
/* line 796, ../scss/goodlinks.scss */
.pricing-container .pricing-body {
  overflow-x: visible;
}
/* line 800, ../scss/goodlinks.scss */
.pricing-container .pricing-features {
  width: 600px;
}
/* line 804, ../scss/goodlinks.scss */
.pricing-container .pricing-features:after {
  content: "";
  display: table;
  clear: both;
}
/* line 810, ../scss/goodlinks.scss */
.pricing-container .pricing-features li {
  width: 100px;
  float: left;
  padding: 0.5em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  line-height: 1em;
}
/* line 821, ../scss/goodlinks.scss */
.pricing-container .pricing-features li.best-value {
  color: #0B8E45;
  font-weight: bold;
}
/* line 827, ../scss/goodlinks.scss */
.pricing-container .pricing-features em {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}
/* line 833, ../scss/goodlinks.scss */
.pricing-container .pricing-features {
  width: auto;
}
/* line 837, ../scss/goodlinks.scss */
.pricing-container .pricing-features li {
  float: none;
  width: auto;
}
/* line 842, ../scss/goodlinks.scss */
.pricing-container .exclusive .pricing-features li {
  margin: 0 3px;
}
/* line 846, ../scss/goodlinks.scss */
.pricing-container .pricing-features em {
  display: inline-block;
  margin-bottom: 0;
}
/* line 851, ../scss/goodlinks.scss */
.pricing-container .has-margins .exclusive .pricing-features li {
  margin: 0;
}
/* line 855, ../scss/goodlinks.scss */
.pricing-container .pricing-footer {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
}
/* line 864, ../scss/goodlinks.scss */
.pricing-container .pricing-footer {
  position: relative;
  height: auto;
  padding: 1.8em 0;
  text-align: center;
}
/* line 871, ../scss/goodlinks.scss */
.pricing-container .pricing-footer::after {
  display: none;
}

@media only screen and (min-width: 1014px) {
  /* line 878, ../scss/goodlinks.scss */
  .pricing-list {
    margin: 3em 0 0;
  }

  /* line 881, ../scss/goodlinks.scss */
  .pricing-list:after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 886, ../scss/goodlinks.scss */
  .pricing-list > li {
    width: 25%;
    float: left;
  }

  /* line 890, ../scss/goodlinks.scss */
  .has-margins .pricing-list > li {
    width: 32.3333333333%;
    float: left;
    margin-right: 1.5%;
  }

  /* line 895, ../scss/goodlinks.scss */
  .has-margins .pricing-list > li:last-of-type {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1014px) {
  /* line 901, ../scss/goodlinks.scss */
  .pricing-wrapper > li::before {
    content: '';
    position: absolute;
    z-index: 6;
    left: -1px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 50%;
    width: 1px;
  }

  /* line 916, ../scss/goodlinks.scss */
  .pricing-wrapper > li::after {
    display: none;
  }

  /* line 919, ../scss/goodlinks.scss */
  .exclusive .pricing-wrapper > li {
    border: solid 4px #e2e2e2;
    padding: 26px 0px;
    margin-top: -48px;
  }

  /* line 927, ../scss/goodlinks.scss */
  :nth-of-type(1) > .pricing-wrapper > li::before {
    display: none;
  }

  /* line 930, ../scss/goodlinks.scss */
  .has-margins .pricing-wrapper > li {
    border-radius: 4px 4px 6px 6px;
  }

  /* line 933, ../scss/goodlinks.scss */
  .has-margins .pricing-wrapper > li::before {
    display: none;
  }
}
@media only screen and (min-width: 1500px) {
  /* line 939, ../scss/goodlinks.scss */
  .full-width .pricing-wrapper > li {
    padding: 2.5em 0;
  }
}
@media only screen and (min-width: 768px) {
  /* line 945, ../scss/goodlinks.scss */
  .exclusive .pricing-wrapper > li::before {
    display: none;
  }

  /* line 948, ../scss/goodlinks.scss */
  .exclusive + li .pricing-wrapper > li::before {
    display: none;
  }
}
@media screen and (max-width: 1014px) {
  /* line 954, ../scss/goodlinks.scss */
  .pricing-container {
    margin: 1em;
    overflow-x: hidden;
  }
  /* line 958, ../scss/goodlinks.scss */
  .pricing-container .pricing-list > li {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 840px) {
  /* line 966, ../scss/goodlinks.scss */
  #navButton .toggle:before {
    background: rgba(134, 134, 134, 0.5);
  }
}
/* line 971, ../scss/goodlinks.scss */
iframe.wufoo-form-container body {
  background-color: red;
}
