a {
    color: #0B8E45;
}

#header {
    &+ video, &+img {
        top: 50%;
        left: 50%;
        min-width: 100%;
        width: auto;
        height: auto;
        max-width: 100%;
        z-index: -100;
        // background: url('/video/people-working-together.mov') no-repeat;
        background-size: cover;
        transition: 1s opacity;
        opacity: 0.9;
    }

    svg {
        transition: all 0.2s ease-in-out;

        width: 136px;
        height: auto;
        margin-left: 39px;
        margin-top: 35px;
        &:hover {
            margin-left: 34px;
            margin-top: 30px;
            width: 146px;
        }

        //  cursor: url(/image/smiley-icon.png), auto;

        path, rect {
            fill: black;
        }
    }

    .we-are-hiring {
        padding-top: 0;
        display: inline-block;

        position: absolute;
        top: 58px;
        left: 41px;

        border-bottom: none;
        color: black;
        font-size: 13px;

        &:hover {
            color: white;
        }
    }

    #nav {
        font-size: 20px;
        right: 20px;
        top: 26px;

        ul {
            li {
                a {
                    color: black;
                    font-size: inherit;

                    &:hover {
                        color: white;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

#banner {
    position: absolute;
    top: 0;
    width: 100%;
    color: black;

    h2 {
        background-color: rgba(255, 255, 255, 0.47);
        display: inline-block;
        padding: 0.5em;
        color: inherit;
    }
}

@media screen and (min-width: 840px) {
    #banner {
        padding-top: 25em;
    }
}

#cta {
    background: #1B6F0E;
    color: white;
    padding: 3.5em 1em 4em 1em;
    text-align: center;

    input[type=submit] {
        color: #1B6F0E;
    }

    p {
        font-size: 1.5em;
        line-height: 1.5em;

        max-width: 24em;
        margin-left: auto;
        margin-right: auto;

        a {
            color: inherit;
        }
    }

    .button {
        transition: all 0.2s ease-in-out;
        font-size: 1.5em;

        &:hover {
            font-size: 2em;
            margin-top: -16px;
            margin-bottom: -10px;
        }

        color: #1B6F0E !important;
    }
}

.icon.major {
    background-color: #0B8E45;
    color: #ffffff;
}

section.lets-face-it {
    p {
        text-align: left;
    }
}

section.box {
    header.major {
        max-width: 45em;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        border-bottom: solid 2px #e5e5e5;
        padding-bottom: 0.5em;
    }

    p {
        width: 100%;
        display: inline-block;
        color: #777;
        padding: 1em 0 0 0;
        font-style: normal;

        margin: 0;
        font-size: 1.5em;
        line-height: 1.5em;
    }

    ul {
        padding-left: 3em;
        text-align: left;
        margin-top: 1em;
        margin-bottom: 0;
        font-size: 1.5em;
        line-height: 1.5em;

        li {
            padding-left: 0.5em;
            margin-bottom: 1em;
            &:nth-last-child(1) {
                margin-bottom: 0;
            }
        }
    }
}

section.box.pricing {
    .major {
        p {
            max-width: 23em;
        }
    }
}