p, ul {
    font-size: 1.3em;
    line-height: 1.4em;
}

a {
    color: #0B8E45;
}

@media screen and (max-width: 840px) {
    p br {
        display: none;
    }
}

#header {
    &+ video, &+img {
        top: 50%;
        left: 50%;
        min-width: 100%;
        width: auto;
        height: auto;
        max-width: 100%;
        z-index: -100;
        // background: url('/video/people-working-together.mov') no-repeat;
        background-size: cover;
        transition: 1s opacity;
        opacity: 0.9;
    }

    svg {
        transition: all 0.2s ease-in-out;

        width: 136px;
        height: auto;
        margin-left: 39px;
        margin-top: 35px;
        &:hover {
            opacity: 0.5;
        }

        //  cursor: url(/image/smiley-icon.png), auto;

        path, rect {
            fill: white;
        }
    }

    .we-are-hiring {
        padding-top: 0;
        display: inline-block;

        position: absolute;
        top: 58px;
        left: 41px;

        border-bottom: none;
        color: white;
        font-size: 13px;

        &:hover {
            text-decoration: underline;
        }
    }

    #nav {
        right: 20px;
        top: 26px;

        ul {
            li {
                a {
                    color: white;
                    font-size: 20px;

                    &:hover {
                        color: white;
                        text-decoration: underline;
                    }
                    
                }

                &:nth-last-child(1) a {
                    font-weight: bold;
                }
            }
        }
    }
}

.video-overlay {
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
}

#banner {
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
    padding: 0;

    .svg-wrapper {
        position: relative;
            svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    h1 {
        display: inline-block;
        padding: 0.5em;
        font-size: 45px;
        line-height: 53px;
        color: white;
        max-width: 19em;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 841px) {
    #banner {
        padding-top: 16em;

        .mobile-logo {
            display: none;
        }
    }
}

@media screen and (max-width: 840px) {
    #banner {
        .headline {
            display: none;
        }

        .mobile-logo {
            width: 200px;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}


@media screen and (max-width: 736px) {
    .hero-video {
        display: none;
    }
    .hero-image-for-mobile {
        width: 100%;
        display: inline !important;
    }
    .box.lets-face-it {
        padding-top: 1em !important;
    }
}

#cta {
    background: #2ECC71;
    color: white;
    padding: 3.5em 1em 4em 1em;
    text-align: center;

    input[type=submit] {
        color: #2ECC71;
    }

    p {
        max-width: 24em;
        margin-left: auto;
        margin-right: auto;

        a {
            color: inherit;
        }
    }

    form {
        .input-wrapper {
            margin: 1em;
        }
        .button-wrapper {
            margin-top: 3em;
        }
    }
}

.button, .button.special {
    transition: all 0.2s ease-in-out;
    font-size: 1.5em;

    &:hover {
        font-weight: bold;
        padding-left: 2.5em;
        padding-right: 2.5em;
    }

    color: #2ECC71 !important;
}
.icon.major {
    background-color: #2ECC71;
    color: #ffffff;
}

section.lets-face-it {
    .wistia_responsive_padding {
        margin-top: 2em;
    }
    p {
        text-align: left;
    }
}

section.box {
    header.major {
        max-width: 49em;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        border-bottom: solid 2px #e5e5e5;
        padding-bottom: 0.5em;
    }

    p {
        width: 100%;
        display: inline-block;
        color: #777;
        padding: 1em 0 0 0;
        font-style: normal;

        margin: 0;

        strong {
            text-decoration: underline;
        }
    }

    ul {
        padding-left: 3em;
        text-align: left;
        margin-top: 1em;
        margin-bottom: 0;

        li {
            padding-left: 0.5em;
            margin-bottom: 1em;
            &:nth-last-child(1) {
                margin-bottom: 0;
            }
        }

        strong {
            text-decoration: underline;
        }
    }
}

section.box.pricing {
    .major {
        p {
            max-width: 23em;
        }
    }
}

section.box.pricing-faqs {
    .box-inner {
        overflow: hidden;
    }

    ul {
        font-size: 1em;  /* Otherwise the p, ul 1.3em will get double added */
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        li {
            p.question {
                font-weight: bold;
            }
        }
    }
}

@media screen and (min-width: 940px) {
    section.box.pricing-faqs {
        ul {
            li {
                padding: 1em;
                width: 50%;
                float: left;
            }
        }
    }
}


section.box.the-team {
    .box-inner {
        margin-top: 2em;
        overflow: hidden;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            width: 100%;
            max-width: none;
            float: left;

            img {
                width: 130px;
                display: inline;
                float: left;
                margin-right: 1em;
                filter: grayscale(100%);
                -webkit-filter: grayscale(100%);
            }

            line-height: 20px;

            p {
                margin: 0;
                display: inline;
                font-size: inherit;
                font-size: 18px;
                a .fa {
                    color: #D0D0D0;
                }

                a {
                    border-bottom: none;
                }
            }
        }
    }

}

@media screen and (min-width: 940px) {
    section.box.the-team {
        .box-inner {
            text-align: center;
        }

        ul {
            display: inline-block;

            li {
                text-align: center;
                width: 33%;

                img {
                    float: none;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 1em;
                }
            }
        }
    }
}

@media screen and (min-width: 940px) {
    section.box.the-team.advisors {
        ul {
            li {
                width: 25%;
                line-height: 20px;
                p {
                    font-size: 18px;
                }
            }
        }
    }
}

section.what-people-are-saying {
    overflow: hidden;

    .tweet {
        max-width: 10em;
        max-width: 24em;
        float: left;
        margin: 1.5em;
    }

    .testimonial {
        margin: 2em;
        .testimonial-content {
            font-size: 25px;
            line-height: 33px;
            b {
                border-bottom: solid 3px #2ECC71;
            }
        }
        .testimonial-name {
            margin-top: 1em;
            font-size: 22px;
        }
    }

}

section.how-it-works, section.social-proof {
    .steps {
        margin-top: 2em;

        .step {
            overflow: hidden;

            .step-image {
                padding: 1em;
                float: left;

                img {
                    width: 100%;
                }
            }

            .step-description {
                padding: 1em;
                text-align: left;
                float: left;

                h3 {
                    margin: 0;
                }

                p {
                    padding: 0;
                    font-size: 1.3em;
                }
            }
        }

        hr {
            border-bottom: solid 2px #F9F9F9;
            margin: 2em 3em;
        }
    }
}

@media screen and (min-width: 640px) {
    .steps {
        .step {
            position: relative;
            .step-image {
                width: 50%;
            }

            .step-description {
                width: 50%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 50%;
            }
        }
    }
}

@media screen and (min-width: 640px) {
    section.social-proof {
        .steps {
            .step {
                position: relative;
                .step-image {
                    width: 30%;
                    float: left;
                }

                .step-description {
                    width: 70%;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 30%;
                }
            }

            .step.right {
                .step-image {
                    float: right;
                }
                .step-description {
                    left: 0%;
                }
            }
        }
    }
}

/* Pricing */
.pricing-container {
    margin-top: 4.5em;
    margin-bottom: 1em;
    margin-left: -3em;
    margin-right: -3em;

    div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section, main {
        display: block;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    *,
    *::after,
    *::before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    html * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    a {
        text-decoration: none;
    }

    .pricing-container {
        line-height: 1;
        width: 90%;
        max-width: 1170px;
        margin: 4em auto;
    }

    .pricing-container {
        margin: 6em auto;
    }
    .pricing-container.full-width {
        width: 100%;
        max-width: none;
    }

    .pricing-list {
        margin: 2em 0 0;
    }

    .pricing-list > li {
        position: relative;
        margin-bottom: 1em;
        padding-left: 5px;
        padding-right: 5px;

        &.first {
            padding-left: 0;
        }
        &.last {
            padding-right: 0;
        }
    }

    .pricing-wrapper {
        position: relative;
    }

    .touch .pricing-wrapper {
        -webkit-perspective: 2000px;
        -moz-perspective: 2000px;
        perspective: 2000px;
    }

    .pricing-wrapper.is-switched .is-visible {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
        -webkit-animation: rotate 0.5s;
        -moz-animation: rotate 0.5s;
        animation: rotate 0.5s;
    }

    .pricing-wrapper.is-switched .is-hidden {
        -webkit-transform: rotateY(0);
        -moz-transform: rotateY(0);
        -ms-transform: rotateY(0);
        -o-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-animation: rotate-inverse 0.5s;
        -moz-animation: rotate-inverse 0.5s;
        animation: rotate-inverse 0.5s;
        opacity: 0;
    }

    .pricing-wrapper.is-switched .is-selected {
        opacity: 1;
    }

    .pricing-wrapper.is-switched.reverse-animation .is-visible {
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        -webkit-animation: rotate-back 0.5s;
        -moz-animation: rotate-back 0.5s;
        animation: rotate-back 0.5s;
    }

    .pricing-wrapper.is-switched.reverse-animation .is-hidden {
        -webkit-transform: rotateY(0);
        -moz-transform: rotateY(0);
        -ms-transform: rotateY(0);
        -o-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-animation: rotate-inverse-back 0.5s;
        -moz-animation: rotate-inverse-back 0.5s;
        animation: rotate-inverse-back 0.5s;
        opacity: 0;
    }

    .pricing-wrapper.is-switched.reverse-animation .is-selected {
        opacity: 1;
    }

    .pricing-wrapper > li {
        background-color: #ffffff;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 6px;
        box-shadow: 0 2px 0 0 #e5e5e5;

    }

    .pricing-wrapper > li::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50px;
        pointer-events: none;
        background: -webkit-linear-gradient( right , #ffffff, rgba(255, 255, 255, 0));
        background: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0));
    }

    .pricing-wrapper > li.is-ended::after {
        display: none;
    }

    .pricing-wrapper .is-visible {
        position: relative;
        z-index: 5;
    }

    .pricing-wrapper .is-hidden {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    .pricing-wrapper .is-selected {
        z-index: 3 !important;
    }

    .no-js .pricing-wrapper .is-hidden {
        position: relative;
        -webkit-transform: rotateY(0);
        -moz-transform: rotateY(0);
        -ms-transform: rotateY(0);
        -o-transform: rotateY(0);
        transform: rotateY(0);
        margin-top: 1em;
    }

    .pricing-header h2 {
        padding: 0.5em 0.9em 0.6em;
        margin-bottom: 30px;
        margin-top: 0px;
        text-align: center;
    }

    .pricing-header {
        height: auto;
        padding: .9em 0 1.6em;
        pointer-events: auto;
        text-align: center;
        color: #173d50;
        background-color: transparent;
    }

    .exclusive .pricing-header h2 {
        color: #0B8E45;
    }

    .pricing-header h2 {
        font-size: 2.8rem;
        letter-spacing: 2px;
    }

    .currency,
    .value {
        font-size: 60px;
        font-weight: 300;
    }

    .duration {
        font-weight: 700;
        font-size: 1.3rem;
        color: #8dc8e4;
        text-transform: uppercase;
    }

    .duration::before {
        content: '/';
        margin-right: 2px;
    }

    .currency,
    .duration {
        color: #0B8E45;
    }

    .currency {
        display: inline-block;
        vertical-align: top;
        font-size: 2rem;
        font-weight: 700;
    }

    .duration {
        font-size: 1.4rem;
    }

    .pricing-body {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .is-switched .pricing-body {
        overflow: hidden;
    }

    .pricing-body {
        overflow-x: visible;
    }

    .pricing-features {
        width: 600px;
    }

    .pricing-features:after {
        content: "";
        display: table;
        clear: both;
    }

    .pricing-features li {
        width: 100px;
        float: left;
        padding: 0.5em;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 18px;
        line-height: 1em;

        &.best-value {
            color: #0B8E45;
            font-weight: bold;
        }
    }

    .pricing-features em {
        display: block;
        margin-bottom: 5px;
        font-weight: 600;
    }

    .pricing-features {
        width: auto;
    }

    .pricing-features li {
        float: none;
        width: auto;
    }

    .exclusive .pricing-features li {
        margin: 0 3px;
    }

    .pricing-features em {
        display: inline-block;
        margin-bottom: 0;
    }

    .has-margins .exclusive .pricing-features li {
        margin: 0;
    }

    .pricing-footer {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: 80px;
        width: 100%;
    }

    .pricing-footer {
        position: relative;
        height: auto;
        padding: 1.8em 0;
        text-align: center;
    }

    .pricing-footer::after {
        display: none;
    }
}


@media only screen and (min-width: 1014px) {
    .pricing-list {
        margin: 3em 0 0;
    }
    .pricing-list:after {
        content: "";
        display: table;
        clear: both;
    }
    .pricing-list > li {
        width: 25%;
        float: left;
    }
    .has-margins .pricing-list > li {
        width: 32.3333333333%;
        float: left;
        margin-right: 1.5%;
    }
    .has-margins .pricing-list > li:last-of-type {
        margin-right: 0;
    }
}

@media only screen and (min-width: 1014px) {
    .pricing-wrapper > li::before {
        content: '';
        position: absolute;
        z-index: 6;
        left: -1px;
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        height: 50%;
        width: 1px;
    }
    .pricing-wrapper > li::after {
        display: none;
    }
    .exclusive .pricing-wrapper > li {
        border: solid 4px #e2e2e2;
        padding: 26px 0px;
        margin-top: -48px;
    }
    .has-margins .pricing-wrapper > li,
    .has-margins .exclusive .pricing-wrapper > li {
    }
    :nth-of-type(1) > .pricing-wrapper > li::before {
        display: none;
    }
    .has-margins .pricing-wrapper > li {
        border-radius: 4px 4px 6px 6px;
    }
    .has-margins .pricing-wrapper > li::before {
        display: none;
    }
}

@media only screen and (min-width: 1500px) {
    .full-width .pricing-wrapper > li {
        padding: 2.5em 0;
    }
}

@media only screen and (min-width: 768px) {
    .exclusive .pricing-wrapper > li::before {
        display: none;
    }
    .exclusive + li .pricing-wrapper > li::before {
        display: none;
    }
}

@media screen and (max-width: 1014px) {
    .pricing-container {
        margin: 1em;
        overflow-x: hidden;

        .pricing-list > li {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

@media screen and (max-width: 840px) {
    #navButton .toggle:before {
        background: rgba(134, 134, 134, 0.5);
    }
}

iframe.wufoo-form-container body {
    background-color: red;
}