p, ul {
    font-size: 1.3em;
    line-height: 1.4em;
}

a {
    color: #0B8E45;
}

@media screen and (max-width: 840px) {
    p br {
        display: none;
    }
}

#header {
    &+ video, &+img {
        top: 50%;
        left: 50%;
        min-width: 100%;
        width: auto;
        height: auto;
        max-width: 100%;
        z-index: -100;
        // background: url('/video/people-working-together.mov') no-repeat;
        background-size: cover;
        transition: 1s opacity;
        opacity: 0.9;
    }

    svg {
        transition: all 0.2s ease-in-out;

        width: 136px;
        height: auto;
        margin-left: 39px;
        margin-top: 35px;
        &:hover {
            opacity: 0.5;
        }

        //  cursor: url(/image/smiley-icon.png), auto;

        path, rect {
            fill: white;
        }
    }

    .we-are-hiring {
        padding-top: 0;
        display: inline-block;

        position: absolute;
        top: 58px;
        left: 41px;

        border-bottom: none;
        color: white;
        font-size: 13px;

        &:hover {
            text-decoration: underline;
        }
    }

    #nav {
        right: 20px;
        top: 26px;

        ul {
            li {
                a {
                    color: white;
                    font-size: 20px;

                    &:hover {
                        color: white;
                        text-decoration: underline;
                    }
                    
                }

                &:nth-last-child(1) a {
                    font-weight: bold;
                }
            }
        }
    }
}

.video-overlay {
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
}

#banner {
    position: absolute;
    top: 0;
    width: 100%;
    color: white;

    h1 {
        display: inline-block;
        padding: 0.5em;
        font-size: 45px;
        line-height: 53px;
        color: white;
        max-width: 19em;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 841px) {
    #banner {
        padding-top: 16em;

        .mobile-logo {
            display: none;
        }
    }
}

@media screen and (max-width: 840px) {
    #banner {
        .headline {
            display: none;
        }

        .mobile-logo {
            width: 200px;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}


@media screen and (max-width: 736px) {
    .hero-video {
        display: none;
    }
    .hero-image-for-mobile {
        width: 100%;
        display: inline !important;
    }
}

#cta {
    background: #2ECC71;
    color: white;
    padding: 3.5em 1em 4em 1em;
    text-align: center;

    input[type=submit] {
        color: #2ECC71;
    }

    p {
        max-width: 24em;
        margin-left: auto;
        margin-right: auto;

        a {
            color: inherit;
        }
    }

    .button {
        transition: all 0.2s ease-in-out;
        font-size: 1.5em;

        &:hover {
            font-weight: bold;
            padding-left: 2.5em;
            padding-right: 2.5em;
        }

        color: #2ECC71 !important;
    }
}

.icon.major {
    background-color: #2ECC71;
    color: #ffffff;
}

section.lets-face-it {
    p {
        text-align: left;
    }
}

section.box {
    header.major {
        max-width: 49em;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        border-bottom: solid 2px #e5e5e5;
        padding-bottom: 0.5em;
    }

    p {
        width: 100%;
        display: inline-block;
        color: #777;
        padding: 1em 0 0 0;
        font-style: normal;

        margin: 0;

        strong {
            text-decoration: underline;
        }
    }

    ul {
        padding-left: 3em;
        text-align: left;
        margin-top: 1em;
        margin-bottom: 0;

        li {
            padding-left: 0.5em;
            margin-bottom: 1em;
            &:nth-last-child(1) {
                margin-bottom: 0;
            }
        }

        strong {
            text-decoration: underline;
        }
    }
}

section.box.pricing {
    .major {
        p {
            max-width: 23em;
        }
    }
}

section.box.the-team {
    .box-inner {
        margin-top: 2em;
        overflow: hidden;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            width: 100%;
            max-width: none;
            float: left;

            img {
                width: 130px;
                display: inline;
                float: left;
                margin-right: 1em;
            }

            p {
                display: inline;
                margin: 0;
                font-size: inherit;
                a .fa {
                    color: #D0D0D0;
                }

                a {
                    border-bottom: none;
                }
            }
        }
    }

}

@media screen and (min-width: 940px) {
    section.box.the-team {
        .box-inner {
            text-align: center;
        }

        ul {
            display: inline-block;

            li {
                text-align: center;
                width: 33%;

                img {
                    float: none;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 1em;
                }
            }
        }
    }
}

section.what-people-are-saying {
    overflow: hidden;

    .tweet {
        max-width: 10em;
        max-width: 24em;
        float: left;
        margin: 1.5em;
    }
}

section.how-it-works {
    .steps {
        margin-top: 2em;

        .step {
            overflow: hidden;

            .step-image {
                padding: 1em;
                float: left;

                img {
                    width: 100%;
                }
            }

            .step-description {
                padding: 1em;
                text-align: left;
                float: left;

                h3 {
                    margin: 0;
                }

                p {
                    padding: 0;
                    font-size: 1.3em;
                }
            }
        }

        hr {
            border-bottom: solid 2px #F9F9F9;
            margin: 2em 3em;
        }
    }
}

@media screen and (min-width: 640px) {
    .steps {
        .step {
            position: relative;
            .step-image {
                width: 50%;
            }

            .step-description {
                width: 50%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 50%;
            }
        }
    }
}
